@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin: 0px
}

#txt-input
{
   display:block;
   margin-left: auto;
   margin-right:auto;
   margin-bottom: 30px;
   width: 300px;
   height:100px;
   margin-top:30px;
}

#output
{

    width:300px;
    height:100px;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
    background-color: white;
  
}

#nav-bar
{
    margin:0;
    padding:0;
    height:100px;
    margin-bottom:10px;
    background-image:url("image/shakes1.jpg");
 
}



#wrapper
{
    text-align:center;

}

#btn-translate
{

    top: 50%;
    height:50px;
    width:100px;
    margin-left: auto;
    margin-right:auto;
    background-color:brown
  
  
}

#footer
{
    background-color:black;
    height:150px;
    width:auto;
    
}

#img
{
    background-color:aqua;
}

#body
{
    background-color:aqua;
}

h3{
    color:white;
    align-items: center;
    padding-left:5rem;
    padding-right:5rem;
    
}